.expertise-cards-content-wrapper { 
    background-color: maroon;
    padding: 2rem;
    margin-top: 3rem;
}

.areas-of-expertise-header-container { 
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding-top: 2rem;
    font-family: "Reddit Sans Condensed", sans-serif;
}

.areas-of-expertise-header-container h1 { 
    color: white;
    padding-bottom: 2rem;
    font-family: "Reddit Sans Condensed", sans-serif;
    font-size: 3rem;
    text-align: center;
}

.expertise-cards-container,
.expertise-img-container { 
    display: flex;
    justify-content: center;
    align-items: center;

} 

.expertise-cards-container { 
    gap: 1rem;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;

}

.expertise-card { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    font-family: "Reddit Sans Condensed", sans-serif;
    padding: 1rem;
    border-radius: 1rem;
    width: 23rem;
    box-shadow: 12px 12px 2px 1px black;
    flex-wrap: wrap;
}

.expertise-card h1 { 
    font-size: 2.5rem;
}



@media (max-width: 750px) { 
    .areas-of-expertise-header-container h1 { 
        font-size: 2rem;

    }

    .expertise-card h1 { 
        font-size: 2rem;
    }
}