.footer-content-wrapper { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: maroon;
    border-top: 4px solid gold;
    padding: 2rem;
    color: white;
    gap: 1rem;
    text-align: center;
}

.footer-content-wrapper h1 { 
    text-align: center;
    font-family: "Reddit Sans Condensed", sans-serif;
    font-size: 2.5rem;
}

.footer-nav-links-container { 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}

// .footer-nav-links-container p:hover { 
//     text-decoration: underline;
//     text-decoration-color: rgb(224, 191, 0);
//     color: rgb(224, 191, 0);
// }


@media (max-width: 400px) { 
    .footer-content-wrapper h1 { 
        font-size: 2rem;
    }

    .footer-content-wrapper h4  { 
        font-size: 1.2rem;
    }

    .footer-nav-links-container p { 
        font-size: 0.8rem;
    }
}


