.gallery-page-content-wrapper { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    
}

.gallery-img-slider { 
    margin-top: 8rem;
    margin-bottom: 6rem;

    width: 40rem;
    height: 40rem; 
    position: relative; 
    overflow: hidden;
    
}

.gallery-img-slider img {
    width: 40rem;
    height: 40rem; /* Add this to fix height */
    object-fit: cover; /* Ensures consistent image display */
}

.gallery-page-img-container-1 { 
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 2rem;
    margin-top: 7rem;
    flex-wrap: wrap;
}

.gallery-page-img-container-1 img { 
    width: 31rem;
    border-radius: 1rem;
}

.gallery-page-img-container-2 { 
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 2rem;
    flex-wrap: wrap;
}

.gallery-page-img-container-2 img { 
    border-radius: 1rem;
}

.gallery-page-img-container-2 img:nth-child(1) { 
    width: 27rem;
}

.gallery-page-img-container-2 img:nth-child(2) { 
    width: 33rem;
}

.gallery-page-img-container-2 img:nth-child(3) { 
    width: 33rem;
}

.gallery-page-img-container-3 { 
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 2rem;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}


.gallery-page-img-container-3 img:nth-child(1) { 
    width: 33rem;
    border-radius: 1rem;
}


.gallery-page-img-container-3 img:nth-child(2) { 
    width: 33rem;
    border-radius: 1rem;
}

.gallery-page-img-container-3 img:nth-child(3) { 
    width: 33rem;
    border-radius: 1rem;
}