@import url('https://fonts.googleapis.com/css2?family=Reddit+Sans+Condensed:wght@200..900&display=swap');

.header-wrapper { 
    background-color: maroon;
    padding: 1.5rem;
    border-bottom: 4px solid gold;
    position: fixed;
    width: 100%;
    z-index: 10;
    
}

.header-button-links-container { 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    flex-wrap: wrap;

}

.header-button-links-container button { 
    font-size: 2rem;
    color: rgb(224, 191, 0);
    border: none;
    background-color: transparent;
    font-family: "Reddit Sans Condensed", sans-serif;
}

.header-button-links-container button:hover { 
    text-decoration: underline;
    text-decoration-color: rgb(224, 191, 0);
    color: rgb(224, 191, 0);
}

// .footer-nav-links-container p:hover { 
//     text-decoration: underline;
//     text-decoration-color: rgb(224, 191, 0);
//     color: rgb(224, 191, 0);
// }

.prof-k-header-styles { 
    display: none;
}

.d-lg-none { 
 display: none;       
}

.offcanvas-header .btn-close { 
    color: white;
}

.header-offcanvas-styles { 
    background-color: maroon;
    color: white;
    font-family: "Reddit Sans Condensed", sans-serif;
    text-align: center;
}

.offcanvas-header-navlinks-styles { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.offcanvas-header-navlinks-styles button { 
    border: none;
    color: white;
    background-color: transparent;
    font-size: 1.7rem;
}

.offcanvas-header-navlinks-styles button:hover { 
    text-decoration: underline;
    text-decoration-color: rgb(224, 191, 0);
    color: rgb(224, 191, 0);
}

.offcanvas-header .btn-close { 
    background-color: white !important;
}

.active-link button { 
    text-decoration: underline !important;
    text-underline-offset: 0.6rem;
}

.non-active-link button { 
    text-decoration: none !important;
}


// media queries: 

// media queries for the header

@media (max-width: 930px) { 
    .header-button-links-container button { 
        font-size: 1.5rem;
    }
}

@media (max-width: 760px) { 
    .header-button-links-container button { 
        font-size: 1.3rem;
    }
}

@media (max-width: 690px) { 
    .header-button-links-container button { 
        font-size: 1.1rem;
    }
}

@media (max-width: 690px) { 
    .header-button-links-container button { 
        font-size: 1.1rem;
    }
}

@media (max-width: 620px) { 
    .header-button-links-container { 
        gap: 1.2rem;
    }
}


// I think at 504 create the offcanvas 

@media (max-width: 504px) { 
    .header-button-links-container button { 
        display: none;
    }

    .prof-k-header-styles { 
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        text-align: center;
        margin-top: 0.5rem;
        font-family: "Reddit Sans Condensed", sans-serif;
    }

    .header-wrapper { 
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .d-lg-none { 
        display: flex;      
        
    }
   
}
