@import url('https://fonts.googleapis.com/css2?family=Reddit+Sans+Condensed:wght@200..900&display=swap');

.header-wrapper { 
    background-color: maroon;
    padding: 1.5rem;
    border-bottom: 4px solid gold;
    position: fixed;
    width: 100%;
    z-index: 10;
    
}

.header-button-links-container { 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    flex-wrap: wrap;

}

.header-button-links-container button { 
    font-size: 2rem;
    color: rgb(224, 191, 0);
    border: none;
    background-color: transparent;
    font-family: "Reddit Sans Condensed", sans-serif;
}

.prof-k-header-styles { 
    display: none;
}

.d-lg-none { 
 display: none;       
}




// media queries: 

// media queries for the header

@media (max-width: 930px) { 
    .header-button-links-container button { 
        font-size: 1.5rem;
    }
}

@media (max-width: 760px) { 
    .header-button-links-container button { 
        font-size: 1.3rem;
    }
}

@media (max-width: 690px) { 
    .header-button-links-container button { 
        font-size: 1.1rem;
    }
}

@media (max-width: 690px) { 
    .header-button-links-container button { 
        font-size: 1.1rem;
    }
}

@media (max-width: 620px) { 
    .header-button-links-container { 
        gap: 1.2rem;
    }
}


// I think at 504 create the offcanvas 

@media (max-width: 504px) { 
    .header-button-links-container button { 
        display: none;
    }

    .prof-k-header-styles { 
        display: flex;
        color: white;
    }

    .header-wrapper { 
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .d-lg-none { 
        display: flex;      
        
    }
   
}
