.img-description-content-wrapper { 
    display: flex;
    justify-content: center;
    align-items: flex-end;
    // align-items: center;
    padding-top: 3rem;
    gap: 4rem;
    padding-bottom: 2rem;
    box-shadow: rgba(0, 0, 0, 0.65) 0px 10px 15px;
}

.book-img-styles,
.author-img-styles,
.speaker-mic-img-styles,
.outdoors-img-styles { 
    width: 2.5rem;
    margin-top: 0.6rem;
}

// .author-img-styles,
// .speaker-mic-img-styles,
// .outdoors-img-styles { 
//     border-left: 2px solid black;
    
// }



.ted-img-styles { 
    width: 40rem;
    // width: 35vw;
    height: 34rem;
   
    margin-left: 2rem;
    margin-top: 5rem;
    border-radius: 1rem;
    box-shadow: 12px 12px 2px 1px black;
}

.historian-label-emoji-container, 
.author-label-emoji-container,
.speaker-label-emoji-container,
.outdoors-label-emoji-container { 
    display: flex;
    gap: 1rem;
    
    
    // border-right: 1px solid black;
}

.title-description-container { 
    display: flex;
    flex-direction: column;

    font-family: "Reddit Sans Condensed", sans-serif;
}

.title-description-container h1, h3 { 
    font-size: 3rem;
    text-align: center;
}

.attributes-container { 
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.attributes-container h4 { 
    margin-top: 1.2rem;
    font-size: 1.5rem;
    // text-decoration: underline;
}


.description-container { 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    margin-top: 1.5rem;
    text-align: center;
}

.description-container p { 
    max-width: 80rem;
    font-size: 1.4rem;
}

.description-contact-me-btn-container { 
    display: flex;
    justify-content: center;
    align-items: center;
    // margin-top: 1rem;
    
}

.description-contact-me-btn-container button { 
    font-size: 1.6rem;
    padding: 0.5rem;
    border-radius: 1rem;
    font-family: "Reddit Sans Condensed", sans-serif;
    background-color: maroon;
    color: white;
} 

@media (max-width: 1400px) { 
    .ted-img-styles { 
        width: 31rem;
    }

    .description-container p { 
        font-size: 1.2rem;
    }

}