.img-description-content-wrapper { 
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-top: 7rem;
    gap: 4rem;
    padding-bottom: 2rem;
    box-shadow: rgba(0, 0, 0, 0.65) 0px 10px 15px;
}

.book-img-styles,
.author-img-styles,
.speaker-mic-img-styles,
.outdoors-img-styles { 
    width: 2.5rem;
    margin-top: 0.6rem;
}

// .author-img-styles,
// .speaker-mic-img-styles,
// .outdoors-img-styles { 
//     border-left: 2px solid black;
    
// }



.ted-img-styles { 
    width: 28rem;
    height: auto;
   
    margin-left: 2rem;
    margin-top: 5rem;
    border-radius: 1rem;
    box-shadow: 12px 12px 2px 1px black;
    position: relative;
    bottom: 4rem;
}

.historian-label-emoji-container, 
.author-label-emoji-container,
.speaker-label-emoji-container,
.outdoors-label-emoji-container { 
    display: flex;
    gap: 1rem;
    
    
    // border-right: 1px solid black;
}

.title-description-container { 
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: "Reddit Sans Condensed", sans-serif;
}

.title-description-container h1, h3 { 
    font-size: 3rem;
    text-align: center;
}

.attributes-container { 
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.attributes-container h4 { 
    margin-top: 1.2rem;
    font-size: 1.5rem;
    // text-decoration: underline;
}


.description-container { 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    margin-top: 1.5rem;
    text-align: center;
}

.description-container p { 
    max-width: 80rem;
    font-size: 1.4rem;
}

.description-contact-me-btn-container { 
    display: flex;
    justify-content: center;
    align-items: center;
    // margin-top: 1rem;
    
}

.description-contact-me-btn-container button { 
    font-size: 1.6rem;
    padding: 0.5rem;
    border-radius: 1rem;
    font-family: "Reddit Sans Condensed", sans-serif;
    background-color: maroon;
    color: white;
} 


// media queries


@media (max-width: 1606px) { 
    .img-description-content-wrapper { 
        padding-top: 7rem;
    }

    .ted-img-styles { 
        position: relative;
        bottom: 8rem;
    }
    
    .description-container p { 
        margin-right: 1rem;
    }
}

@media (max-width: 1495px) { 
    .ted-img-styles { 
        position: relative;
        bottom: 11rem;
    }
}


@media (max-width: 1350px) { 
.img-description-content-wrapper { 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
}

.ted-img-styles { 
    position: relative;
    bottom: 0;
    width: 31rem;
}

.description-container p { 
    margin-right: 0;
}

}

@media (max-width: 740px) { 
    .attributes-container { 
        gap: 2rem;
    }

    .description-container p, 
    .description-contact-me-btn-container button { 
        font-size: 1.2rem;
    }

    .title-description-container h1, h3 { 
        font-size: 2.5rem;
    }

    .attributes-container { 
        flex-wrap: wrap;
    }
}


@media (max-width: 580px) { 
    .ted-img-styles { 
        width: 25rem;
    }
}

@media (max-width: 510px) { 
    .ted-img-styles { 
        width: 20rem;
        position: relative;
        top: 1rem;
    } 

    .title-description-container h1, h3 { 
        font-size: 2rem;
    }

    .attributes-container h4 { 
        font-size: 1rem;
    }
}

@media (max-width: 400px) { 
    .ted-img-styles { 
        width: 18rem;
        position: relative;
        top: 2rem;
    } 

    .title-description-container h1, h3 { 
        font-size: 1.8rem;
    }

    .attributes-container h4 { 
        font-size: 0.9rem;
    }
}

@media (max-width: 370px) { 
    .ted-img-styles { 
        width: 17rem;
        position: relative;
        right: 1rem;
    } 
}


// @media (max-width: 1355px) { 
//     .ted-img-styles { 
//         position: relative;
//         bottom: 14rem;
//     }
// }

// @media (max-width: 1345px) { 
//     .description-container p { 
//         margin-right: 2rem;
//     }

//     .title-description-container h1, h3 { 
//         margin-right: 1rem;
//     }
// }

// @media (max-width: 1285px) { 
//     .attributes-container { 
//         gap: 1rem;
//     }
// }

// @media (max-width: 1199px) { 
//     .img-description-content-wrapper { 
//         flex-direction: column;
//         justify-content: center;
//         align-items: center;
//         padding-top: 2rem;
//     }

//     .ted-img-styles { 
//         position: relative;
//         bottom: 0rem;
//     }
// }




















// @media (max-width: 1400px) { 
//     .ted-img-styles { 
//         width: 31rem;
//     }

//     .description-container p { 
//         font-size: 1.2rem;
//     }

// }







// @media (max-width: 1423px) { 
//     .title-description-container { 
//         padding-top: 6rem;
//     }

//     .description-contact-me-btn-container button { 
//         font-size: 1.2rem;
//     }
// }

// @media (max-width: 1345px) { 
//     .ted-img-styles { 
//         position: relative;
//         bottom: 2rem;
//         height: 27rem;
//         width: 23rem;
//     }
// }

// @media (max-width: 1310px) { 
//     .ted-img-styles { 
//         bottom: 4rem;
//     }
// }

// @media (max-width: 1230px) { 
//     .img-description-content-wrapper { 
//         display: flex;
//         flex-direction: column;
//         justify-content: center;
//         align-items: center;
//     }

  
// }