.latest-news-content-wrapper { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 2rem;
}

.latest-news-content-wrapper h1 { 
    text-align: center;
    font-family: "Reddit Sans Condensed", sans-serif;
    color: black;
    font-size: 3rem;
    padding-bottom: 2rem;
}


.news-container { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 47rem; 
    background-color: maroon;
    border-radius: 0.5rem;
    box-shadow: 12px 12px 2px 1px black;
    
}


.news-content-container { 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    // width: 100%;
    flex-wrap: wrap;
}

.news-content-container li { 
    font-size: 1.3rem;
    padding: 0.5rem;
    list-style-position: outside; /* Ensure bullet points are outside the text */
    text-align: left;
    color: white;
}

.news-content-container a { 
    color: silver;
    text-decoration: none;
}

.news-content-container li a:hover { 
    color: rgb(224, 191, 0);
}


@media (max-width: 800px) { 
    .news-content-container li { 
        font-size: 1rem;
    }

    // .news-content-container li { 
    //     text-align: center;
    // }

    .news-container { 
        width: 40rem;
    }
}



@media (max-width: 700px) { 
    .latest-news-content-wrapper h1 { 
        font-size: 2rem;
    }
}

@media (max-width: 670px) { 
    .news-container { 
        width: 35rem;
    }
} 

@media (max-width: 580px) { 
    .news-container { 
        width: 30rem;
    }
}

@media (max-width: 500px) { 
    .news-container { 
        width: 25rem;
    }
}

@media (max-width: 420px) { 
    .news-container { 
        width: 20rem;
    }
}

@media (max-width: 350px) { 
    .news-container { 
        width: 17rem;
    }
}