.latest-news-content-wrapper { 
    background-color: maroon;
}

.latest-news-content-wrapper h1 { 
    text-align: center;
    font-family: "Reddit Sans Condensed", sans-serif;
    color: white;
    font-size: 3rem;
    padding-top: 3rem;
}

