.publications-page-content-wrapper { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Reddit Sans Condensed", sans-serif;
    padding-bottom: 2rem;
}

.publications-header-text { 
    text-align: center;
    padding-top: 6.5rem;
}

.publications-page-content-container { 
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    margin-top: 2rem;
    gap: 1rem;
    max-width: 90rem;
}

.publications-card { 
    width: 20rem;
    border-radius: 1rem;
    overflow: hidden;
}

#publications-card-body { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // width: 20rem;
    padding: 1rem;
    background-color: maroon;
    color: white;
    flex: 1;
}

.publications-button-container { 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
}

.publications-button-container button { 
    padding: 0.5rem;
    border-radius: 1rem;
    background-color: white;
    // margin-top: auto;
}

.publications-button-container a { 
    border: none;
    text-decoration: none;
    color: black;
}

.publications-card h1 { 
    font-size: 1.2rem;
    text-align: center;
}